<ion-header>
  <ion-toolbar>
    <ion-title>upser-note</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" >
    <ion-item>
        <ion-label>Title</ion-label>
        <ion-input type="text" name="title" [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Text</ion-label>
        <ion-input type="text" name="text" [(ngModel)]="note.text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Done</ion-label>
      <ion-toggle color="secondary"  name="checked" [(ngModel)]="note.completed" (ionChange)="toggleChange($event)"></ion-toggle>
    </ion-item>

    <ion-button size="large" expand="full" color="dark">
      <ion-icon name="md-pin" name="ios-pin"></ion-icon>
      Add Geo
    </ion-button>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="tertiary" (click)="openLibrary()">
          <ion-icon slot="start" name="image"></ion-icon>
          Library
        </ion-button>
        <ion-button color="secondary" (click)="addPhoto()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Camera
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

      <ion-slides [options]="sliderConfig" loop="true" effect="coverflow">
        <ion-slide *ngFor="let photo of note.image">
          <ion-img [src]="photo"></ion-img>
        </ion-slide>
      </ion-slides>
    <ion-button class="button-submit" size="large" color="success" expand="full" type="submit">Save</ion-button>
  </form>
</ion-content>
