<ion-header>
  <ion-toolbar>
    <ion-title>upser-note</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" >
    <ion-item>
        <ion-label>Title</ion-label>
        <ion-input type="text" name="title" [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Text</ion-label>
        <ion-input type="text" name="text" [(ngModel)]="note.text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Done</ion-label>
      <ion-toggle color="secondary"  name="checked" [(ngModel)]="note.completed" (ionChange)="toggleChange($event)"></ion-toggle>
    </ion-item>

    <!-- <ion-button  (click)="navigateToGeo()" size="large" expand="full" color="dark">
      <ion-icon name="md-pin" name="ios-pin"></ion-icon>
      Add Geo
    </ion-button> -->

    <!-- <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="tertiary" style="width:20%" (click)="openLibrary()">
          <ion-icon slot="start" name="image"></ion-icon>
          Library
        </ion-button>
        <ion-button color="secondary" style="width:20%" (click)="addPhoto()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Camera
        </ion-button>
      </ion-buttons>
    </ion-toolbar> -->

    <input type="file"  (change)="uploadFile($event.target.files)">

      <!-- <ion-slides [options]="sliderConfig" loop="true" effect="coverflow">
        <ion-slide *ngFor="let photo of note.image">
          <ion-img [src]="photo"></ion-img>
        </ion-slide>
      </ion-slides> -->

      <ion-list>
          <ion-item *ngFor="let photo of photos">
            <ion-thumbnail slot="start">
              <ion-img [src]="photo"></ion-img>
            </ion-thumbnail>
            <ion-label>{{photo || "-"}}</ion-label>
            <ion-button slot="end" fill="clear" (click)="deleteFile(photo)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
          </ion-item>
      </ion-list>


      
      <!--2variant-->
      <!-- <h3 *ngIf="images.length === 0" text-center>Please select photo</h3>
      <ion-list>
        <ion-item *ngFor="let photo of images; index as pos">
          <ion-thumbnail slot="start">
            <ion-img [src]="photo.path"></ion-img>
          </ion-thumbnail>
          <ion-label>{{photo.name}}</ion-label>
          <ion-button slot="end" fill="clear" (click)="startUpload(photo)">
            <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear" (click)="deleteImg(photo)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-list>
      <ion-footer>
          <ion-toolbar color="primary">
            <ion-button fill="clear" expand="full" color="light" (click)="selectPhoto()">
              <ion-icon name="camera" slot="start"></ion-icon>
              Select Photo
            </ion-button>
          </ion-toolbar>
        </ion-footer> -->
        <ion-button class="button-submit" size="large" color="success" expand="full" type="submit">Save</ion-button>
  </form>
</ion-content>
